<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="GSTConn" connectionString="Data Source=DESKTOP-6D6SRJM;Initial Catalog=GSTChampionsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
      <httpRuntime requestValidationMode="2.0" />
  <pages validateRequest="false" />
  </system.web>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
</configuration>
